.picker-container {
  position: relative;
  padding: 0px 5% 0px 5%;
  margin-top: -44px;
}

.picker-container p{
  font-weight: 300;;
  margin: 0;
}

.picker-options  {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  align-self: center;
  padding: 10px;
  background: #e3e3e3;
  width: 60%;
}


.picker-title-container {
  width: 70%;
  display: flex;
  background: white;
}
.picker-title-container p{
  padding: 10px;
  margin-left: 10%;
}

.picker-info-container {
  background: #34b9b4;
  padding: 20px 40px;
}