.navbar-container, .cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding-right: 2%;
}

.navbar-item, .cart {
  font-size: 18px;
  color: black;
  text-decoration: none;
  display: block;
  border-bottom: 2px solid transparent;
}

.navbar-item:hover {
  color: black;
  border-bottom: 2px solid #FBAE16;
}

.logo-container {
  width: 20%;
}

.logo-container img{
  width: 100%;
}

.cart {
  display: flex;
  justify-content: space-between;
  width: 7%;
  padding: 0;
}

.cart p {
  margin: 0%;
}