.navbar-container, .cart {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbar-item, .cart {
  font-size: 20px;
  font-weight: 300;
  color: black;
  text-decoration: none;
  display: block;
  border-bottom: 2px solid transparent;
}

.navbar-item:hover {
  color: black;
  border-bottom: 2px solid #FBAE16;
}

.logo-container {
  width: 15%;
}

.logo-container img{
  width: 100%;
}

.cart {
  display: flex;
  justify-content: space-between;
  width: 8%;
  padding: 0;
}

.cart p {
  margin: 0%;
}