.picker-container {
  width: 90%;
  margin: auto;
  position: relative;
  left: 0;
  right: 0;
  top: -50px;
}

.picker-options {
  background-color: #e3e3e3;
  width:65%;
  padding: 10px;
}

.picker-options p {
  margin: 0;
}

.picker-options, .picker-option-titles, .picker-input-container, .picker-input-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.picker-info-container {
  padding: 15px;
  background-color: #34b9b4;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  justify-content: space-between;
}

.picker-info-container p {
  margin: 0;
  width: 7%;
}

.picker-actual {
  width: 100%;
  padding: 10px; 
}

.picker-option-titles {
  width: 100%;
  padding: 10px 0;
  background-color: white;
}

.picker-option-titles p {
  margin: 0%;
  width: 10%;
  font-weight: 300;
  text-transform: uppercase;
}

.picker-input-container {
  margin-top: 5px;
  background-color: white;
}

.picker-button {
  width: 30%;
  font-weight: 200;
  height: auto !important;
  background-color: #FBAE16 !important;
  padding: 0px !important;
  border-radius: 2px;
}

.picker-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55px;
  margin-left: 15px;
}

.picker-item-select {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: transparent;
  margin: 0;
}

.picker-item p{
  font-weight: 400;
  font-size: 30px;
  color: #34b9b4;
  width: auto;
}

.sub-item p{
  line-height: 14px;
  color: #4c4c4c;
  font-size: 14px;
  font-weight: 300;
  width: auto;
}