.footer-container {
  border-top: 3px solid #FBAE16;
  padding-top: 4%;
  padding-left: 5.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.questions-container {
  width: 20%;
}

.button-container {
  width: 12%;
}