.airplane-container {
  width: 100%;
  background-position: center;
  color: #4c4c4c;
  background-repeat: no-repeat;
  background-image:  
  linear-gradient(
      rgba(252, 252, 252, 0.767), 
      rgba(252, 252, 252, 0.76)
    ),
    url('../../assets/images/airplane-window.jpg');
}

.airplane-container h2, h3 {
  text-transform: uppercase;
}

.invite {
  margin-bottom: 13%;
}

.upset {
  margin-top: -5%;
}

.border-top {
  width: 75%;
  padding-top: 5%;
  border-top: 5px solid #FBAE16;
  margin: 0%;
}